aapt
adduser
adwaita-icon-theme
alsa-topology-conf
alsa-ucm-conf
android-framework-res
android-libaapt
android-libandroidfw
android-libbacktrace
android-libbase
android-libcutils
android-liblog
android-libutils
android-libziparchive
apktool
apt
at-spi2-common
at-spi2-core
base-files
base-passwd
bash
bind9-dnsutils
bind9-host
bind9-libs
binutils
binutils-common
binutils-x86-64-linux-gnu
braa
bsdutils
build-essential
bzip2
ca-certificates
ca-certificates-java
coreutils
cpp
cpp-12
curl
dash
dbus
dbus-bin
dbus-daemon
dbus-session-bus-common
dbus-system-bus-common
dbus-user-session
dconf-gsettings-backend
dconf-service
debconf
debian-archive-keyring
debianutils
default-jre
default-jre-headless
dex2jar
diffutils
dirb
dirmngr
dmsetup
dnsutils
dpkg
dpkg-dev
e2fsprogs
eslint
fakeroot
findutils
fontconfig
fontconfig-config
fonts-dejavu-core
fonts-dejavu-extra
g++
g++-12
gcc
gcc-12
gcc-12-base
git
git-man
gnupg
gnupg-l10n
gnupg-utils
golang
golang-1.19
golang-1.19-doc
golang-1.19-go
golang-1.19-src
golang-doc
golang-go
golang-src
gpg
gpg-agent
gpg-wks-client
gpg-wks-server
gpgconf
gpgsm
gpgv
grep
gsettings-desktop-schemas
gstreamer1.0-gl
gstreamer1.0-plugins-base
gtk-update-icon-cache
gyp
gzip
handlebars
hicolor-icon-theme
hostname
init-system-helpers
iputils-ping
iso-codes
java-common
java-wrappers
javascript-common
junit
kali-archive-keyring
kali-defaults
krb5-locales
less
libabsl20220623
libacl1
libalgorithm-c3-perl
libalgorithm-diff-perl
libalgorithm-diff-xs-perl
libalgorithm-merge-perl
libantlr-java
libantlr3-runtime-java
libaom3
libaopalliance-java
libapache-pom-java
libapparmor1
libapt-pkg6.0
libargon2-1
libasan8
libasound2
libasound2-data
libassuan0
libasyncns0
libatinject-jsr330-api-java
libatk-bridge2.0-0
libatk-wrapper-java
libatk-wrapper-java-jni
libatk1.0-0
libatomic1
libatspi2.0-0
libattr1
libaudit-common
libaudit1
libauthen-sasl-perl
libavahi-client3
libavahi-common-data
libavahi-common3
libavif15
libb-hooks-endofscope-perl
libb-hooks-op-check-perl
libbcg729-0
libbinutils
libblas3
libblkid1
libbrotli1
libbsd0
libbz2-1.0
libc-ares2
libc-bin
libc-dev-bin
libc-devtools
libc6
libc6-dev
libcairo-gobject2
libcairo2
libcap-ng0
libcap2
libcap2-bin
libcbor0.8
libcc1-0
libcdi-api-java
libcdparanoia0
libclass-c3-perl
libclass-c3-xs-perl
libclass-load-perl
libclass-load-xs-perl
libclass-tiny-perl
libclone-perl
libcolord2
libcom-err2
libcommons-cli-java
libcommons-compress-java
libcommons-io-java
libcommons-lang3-java
libcommons-parent-java
libcommons-text-java
libcrypt-dev
libcrypt1
libcryptsetup12
libctf-nobfd0
libctf0
libcups2
libcurl3-gnutls
libcurl4
libdata-dump-perl
libdata-optlist-perl
libdatrie1
libdav1d6
libdb5.3
libdbus-1-3
libdconf1
libde265-0
libdebconfclient0
libdeflate0
libdevel-callchecker-perl
libdevel-caller-perl
libdevel-globaldestruction-perl
libdevel-lexalias-perl
libdevel-overloadinfo-perl
libdevel-partialdump-perl
libdevel-stacktrace-perl
libdevmapper1.02.1
libdist-checkconflicts-perl
libdouble-conversion3
libdpkg-perl
libdrm-amdgpu1
libdrm-common
libdrm-intel1
libdrm-nouveau2
libdrm-radeon1
libdrm2
libdw1
libdynaloader-functions-perl
libedit2
libegl-mesa0
libegl1
libelf1
libencode-locale-perl
libepoxy0
liberror-perl
liberror-prone-java
libeval-closure-perl
libevdev2
libevent-2.1-7
libexpat1
libexpat1-dev
libext2fs2
libfakeroot
libfdisk1
libffi8
libfido2-1
libfile-basedir-perl
libfile-desktopentry-perl
libfile-fcntllock-perl
libfile-listing-perl
libfile-mimeinfo-perl
libflac12
libfont-afm-perl
libfontconfig1
libfontenc1
libfreetype6
libfribidi0
libfstrm0
libgail-common
libgail18
libgav1-1
libgbm1
libgcc-12-dev
libgcc-s1
libgcrypt20
libgd3
libgdbm-compat4
libgdbm6
libgdk-pixbuf-2.0-0
libgdk-pixbuf2.0-bin
libgdk-pixbuf2.0-common
libgeronimo-annotation-1.3-spec-java
libgeronimo-interceptor-3.0-spec-java
libgif7
libgl1
libgl1-mesa-dri
libglapi-mesa
libgles2
libglib2.0-0
libglib2.0-data
libglvnd0
libglx-mesa0
libglx0
libgmp10
libgnutls30
libgomp1
libgpg-error0
libgpm2
libgprofng0
libgraphene-1.0-0
libgraphite2-3
libgssapi-krb5-2
libgstreamer-gl1.0-0
libgstreamer-plugins-base1.0-0
libgstreamer1.0-0
libgtk-3-0
libgtk-3-bin
libgtk-3-common
libgtk2.0-0
libgtk2.0-bin
libgtk2.0-common
libguava-java
libgudev-1.0-0
libguice-java
libharfbuzz0b
libheif1
libhogweed6
libhtml-form-perl
libhtml-format-perl
libhtml-parser-perl
libhtml-tagset-perl
libhtml-tree-perl
libhttp-cookies-perl
libhttp-daemon-perl
libhttp-date-perl
libhttp-message-perl
libhttp-negotiate-perl
libice6
libicu72
libidn2-0
libinput-bin
libinput10
libio-html-perl
libio-socket-ssl-perl
libio-stringy-perl
libip4tc2
libipc-system-simple-perl
libisl23
libitm1
libjansi-java
libjansson4
libjbig0
libjcommander-java
libjemalloc2
libjpeg62-turbo
libjs-async
libjs-events
libjs-inherits
libjs-is-typedarray
libjs-jquery
libjs-prettify
libjs-regenerate
libjs-source-map
libjs-sphinxdoc
libjs-sprintf-js
libjs-typedarray-to-buffer
libjs-underscore
libjs-util
libjson-c5
libjsr305-java
libk5crypto3
libkeyutils1
libkmod2
libkrb5-3
libkrb5support0
libksba8
liblcms2-2
libldap-2.5-0
libldap-common
liblerc4
liblinear4
libllvm15
liblmdb0
liblocale-gettext-perl
liblsan0
liblua5.2-0
liblua5.3-0
liblwp-mediatypes-perl
liblwp-protocol-https-perl
liblz4-1
liblzma5
libmagic-mgc
libmagic1
libmailtools-perl
libmaven-archiver-java
libmaven-file-management-java
libmaven-jar-plugin-java
libmaven-parent-java
libmaven-resolver-java
libmaven-shared-io-java
libmaven-shared-utils-java
libmaven3-core-java
libmaxminddb0
libmd0
libmd4c0
libminizip1
libmodule-implementation-perl
libmodule-runtime-conflicts-perl
libmodule-runtime-perl
libmoose-perl
libmount1
libmp3lame0
libmpc3
libmpfr6
libmpg123-0
libmro-compat-perl
libmtdev1
libnamespace-clean-perl
libncursesw6
libnet-dbus-perl
libnet-http-perl
libnet-smtp-ssl-perl
libnet-ssleay-perl
libnettle8
libnghttp2-14
libnl-3-200
libnl-genl-3-200
libnl-route-3-200
libnode-dev
libnode108
libnotify-bin
libnotify4
libnpth0
libnsl-dev
libnsl2
libnspr4
libnss-systemd
libnss3
libnuma1
libogg0
libopus0
liborc-0.4-0
libp11-kit0
libpackage-deprecationmanager-perl
libpackage-stash-perl
libpackage-stash-xs-perl
libpadwalker-perl
libpam-cap
libpam-modules
libpam-modules-bin
libpam-runtime
libpam-systemd
libpam0g
libpango-1.0-0
libpangocairo-1.0-0
libpangoft2-1.0-0
libparams-classify-perl
libparams-util-perl
libpcap0.8
libpci3
libpciaccess0
libpcre2-16-0
libpcre2-8-0
libpcre3
libpcsclite1
libperl5.36
libpixman-1-0
libpkgconf3
libplexus-archiver-java
libplexus-cipher-java
libplexus-classworlds-java
libplexus-component-annotations-java
libplexus-interpolation-java
libplexus-io-java
libplexus-sec-dispatcher-java
libplexus-utils2-java
libpng16-16
libpopt0
libproc2-0
libprotobuf-c1
libprotobuf-lite32
libproxychains3
libpsl5
libpulse0
libpython3-dev
libpython3-stdlib
libpython3.11
libpython3.11-dev
libpython3.11-minimal
libpython3.11-stdlib
libqt5core5a
libqt5dbus5
libqt5gui5
libqt5multimedia5
libqt5multimedia5-plugins
libqt5multimediagsttools5
libqt5multimediawidgets5
libqt5network5
libqt5printsupport5
libqt5qml5
libqt5qmlmodels5
libqt5quick5
libqt5svg5
libqt5waylandclient5
libqt5waylandcompositor5
libqt5widgets5
libquadmath0
librav1e0
libreadline8
libregexp-ipv6-perl
librsvg2-2
librsvg2-common
librtmp1
libsasl2-2
libsasl2-modules
libsasl2-modules-db
libsbc1
libseccomp2
libselinux1
libsemanage-common
libsemanage2
libsensors-config
libsensors5
libsepol2
libsisu-inject-java
libsisu-plexus-java
libslf4j-java
libsm6
libsmali-java
libsmartcols1
libsmi2ldbl
libsnappy-java
libsnappy-jni
libsnappy1v5
libsndfile1
libsnmp-base
libsnmp40
libsodium23
libspandsp2
libspeexdsp1
libsqlite3-0
libss2
libssh-gcrypt-4
libssh2-1
libssl-dev
libssl3
libstdc++-12-dev
libstdc++6
libstringtemplate-java
libsub-exporter-perl
libsub-exporter-progressive-perl
libsub-identify-perl
libsub-install-perl
libsub-name-perl
libsvtav1enc1
libsystemd-shared
libsystemd0
libtasn1-6
libtext-iconv-perl
libthai-data
libthai0
libtheora0
libtie-ixhash-perl
libtiff6
libtimedate-perl
libtinfo6
libtirpc-common
libtirpc-dev
libtirpc3
libtry-tiny-perl
libtsan2
libubsan1
libudev1
libunistring2
libunwind8
liburi-perl
libuuid1
libuv1
libuv1-dev
libvariable-magic-perl
libvisual-0.4-0
libvorbis0a
libvorbisenc2
libwacom-common
libwacom9
libwagon-provider-api-java
libwayland-client0
libwayland-cursor0
libwayland-egl1
libwayland-server0
libwebp7
libwireshark-data
libwireshark16
libwiretap13
libwrap0
libwsutil14
libwww-perl
libwww-robotrules-perl
libx11-6
libx11-data
libx11-protocol-perl
libx11-xcb1
libx265-199
libxau6
libxaw7
libxcb-dri2-0
libxcb-dri3-0
libxcb-glx0
libxcb-icccm4
libxcb-image0
libxcb-keysyms1
libxcb-present0
libxcb-randr0
libxcb-render-util0
libxcb-render0
libxcb-shape0
libxcb-shm0
libxcb-sync1
libxcb-util1
libxcb-xfixes0
libxcb-xinerama0
libxcb-xinput0
libxcb-xkb1
libxcb1
libxcomposite1
libxcursor1
libxdamage1
libxdmcp6
libxext6
libxfixes3
libxft2
libxi6
libxinerama1
libxkbcommon-x11-0
libxkbcommon0
libxkbfile1
libxml-parser-perl
libxml-twig-perl
libxml-xpathengine-perl
libxml2
libxmlunit-java
libxmu6
libxmuu1
libxpm4
libxpp3-java
libxrandr2
libxrender1
libxshmfence1
libxt6
libxtst6
libxv1
libxxf86dga1
libxxf86vm1
libxxhash0
libxz-java
libyaml-snake-java
libyuv0
libz3-4
libzstd1
linux-libc-dev
login
logrotate
logsave
lsof
ltrace
lua-lpeg
make
manpages
manpages-dev
mawk
media-types
mount
ncurses-base
ncurses-bin
net-tools
netbase
netcat-traditional
nikto
nmap
nmap-common
node-abbrev
node-acorn
node-agent-base
node-ajv
node-ajv-keywords
node-ampproject-remapping
node-ansi-escapes
node-ansi-regex
node-ansi-styles
node-anymatch
node-aproba
node-archy
node-are-we-there-yet
node-argparse
node-arrify
node-assert
node-async
node-async-each
node-auto-bind
node-babel-helper-define-polyfill-provider
node-babel-plugin-add-module-exports
node-babel-plugin-lodash
node-babel-plugin-polyfill-corejs2
node-babel-plugin-polyfill-corejs3
node-babel-plugin-polyfill-regenerator
node-babel7
node-babel7-runtime
node-balanced-match
node-base
node-base64-js
node-binary-extensions
node-brace-expansion
node-braces
node-browserslist
node-builtins
node-busboy
node-cacache
node-cache-base
node-camelcase
node-caniuse-lite
node-chalk
node-chokidar
node-chownr
node-chrome-trace-event
node-ci-info
node-cjs-module-lexer
node-cli-boxes
node-cli-cursor
node-cli-table
node-cli-truncate
node-cliui
node-clone
node-clone-deep
node-collection-visit
node-color-convert
node-color-name
node-colors
node-columnify
node-commander
node-commondir
node-concat-stream
node-console-control-strings
node-convert-source-map
node-copy-concurrently
node-core-js
node-core-js-compat
node-core-js-pure
node-core-util-is
node-coveralls
node-css-loader
node-css-selector-tokenizer
node-data-uri-to-buffer
node-debbundle-es-to-primitive
node-debug
node-decamelize
node-decompress-response
node-deep-equal
node-deep-is
node-defaults
node-define-properties
node-define-property
node-defined
node-del
node-delegates
node-depd
node-diff
node-doctrine
node-electron-to-chromium
node-encoding
node-end-of-stream
node-enhanced-resolve
node-err-code
node-errno
node-error-ex
node-es-abstract
node-es-module-lexer
node-es6-error
node-escape-string-regexp
node-escodegen
node-eslint-scope
node-eslint-utils
node-eslint-visitor-keys
node-espree
node-esprima
node-esquery
node-esrecurse
node-estraverse
node-esutils
node-events
node-fancy-log
node-fast-deep-equal
node-fast-levenshtein
node-fetch
node-file-entry-cache
node-fill-range
node-find-cache-dir
node-find-up
node-flat-cache
node-flatted
node-for-in
node-for-own
node-foreground-child
node-fs-readdir-recursive
node-fs-write-stream-atomic
node-fs.realpath
node-function-bind
node-functional-red-black-tree
node-gauge
node-get-caller-file
node-get-stream
node-get-value
node-glob
node-glob-parent
node-globals
node-globby
node-got
node-graceful-fs
node-growl
node-gyp
node-has-flag
node-has-unicode
node-has-value
node-has-values
node-hosted-git-info
node-https-proxy-agent
node-iconv-lite
node-icss-utils
node-ieee754
node-iferr
node-ignore
node-imurmurhash
node-indent-string
node-inflight
node-inherits
node-ini
node-interpret
node-ip
node-ip-regex
node-is-arrayish
node-is-binary-path
node-is-buffer
node-is-descriptor
node-is-extendable
node-is-extglob
node-is-glob
node-is-number
node-is-path-cwd
node-is-path-inside
node-is-plain-obj
node-is-plain-object
node-is-primitive
node-is-stream
node-is-typedarray
node-is-windows
node-isarray
node-isexe
node-isobject
node-istanbul
node-jest-debbundle
node-jest-worker
node-js-tokens
node-js-yaml
node-jsesc
node-json-buffer
node-json-parse-better-errors
node-json-schema
node-json-schema-traverse
node-json-stable-stringify
node-json5
node-jsonify
node-jsonparse
node-kind-of
node-lcov-parse
node-levn
node-loader-runner
node-locate-path
node-lodash
node-lodash-packages
node-log-driver
node-lowercase-keys
node-lru-cache
node-make-dir
node-map-visit
node-memfs
node-memory-fs
node-merge-stream
node-micromatch
node-mime
node-mime-types
node-mimic-response
node-minimatch
node-minimist
node-minipass
node-mixin-deep
node-mkdirp
node-move-concurrently
node-ms
node-mute-stream
node-n3
node-negotiator
node-neo-async
node-nopt
node-normalize-package-data
node-normalize-path
node-npm-bundled
node-npm-package-arg
node-npm-run-path
node-npmlog
node-object-assign
node-object-inspect
node-object-visit
node-once
node-opener
node-optimist
node-optionator
node-osenv
node-p-cancelable
node-p-limit
node-p-locate
node-p-map
node-parse-json
node-pascalcase
node-path-dirname
node-path-exists
node-path-is-absolute
node-path-is-inside
node-path-type
node-picocolors
node-pify
node-pkg-dir
node-postcss
node-postcss-modules-extract-imports
node-postcss-modules-values
node-postcss-value-parser
node-prelude-ls
node-process-nextick-args
node-progress
node-promise-inflight
node-promise-retry
node-promzard
node-prr
node-pump
node-punycode
node-quick-lru
node-randombytes
node-read
node-read-package-json
node-read-pkg
node-readable-stream
node-readdirp
node-rechoir
node-regenerate
node-regenerate-unicode-properties
node-regenerator-runtime
node-regenerator-transform
node-regexpp
node-regexpu-core
node-regjsgen
node-regjsparser
node-repeat-string
node-require-directory
node-resolve
node-resolve-cwd
node-resolve-from
node-restore-cursor
node-resumer
node-retry
node-rimraf
node-run-queue
node-safe-buffer
node-schema-utils
node-sellside-emitter
node-semver
node-serialize-javascript
node-set-blocking
node-set-immediate-shim
node-set-value
node-shebang-command
node-shebang-regex
node-shell-quote
node-signal-exit
node-slash
node-slice-ansi
node-source-list-map
node-source-map
node-source-map-support
node-spdx-correct
node-spdx-exceptions
node-spdx-expression-parse
node-spdx-license-ids
node-sprintf-js
node-ssri
node-stack-utils
node-string-decoder
node-string-width
node-strip-ansi
node-strip-bom
node-strip-json-comments
node-supports-color
node-tap
node-tap-mocha-reporter
node-tap-parser
node-tapable
node-tape
node-tar
node-terser
node-text-table
node-through
node-time-stamp
node-to-fast-properties
node-to-regex-range
node-tslib
node-type-check
node-typedarray
node-typedarray-to-buffer
node-undici
node-unicode-canonical-property-names-ecmascript
node-unicode-match-property-ecmascript
node-unicode-match-property-value-ecmascript
node-unicode-property-aliases-ecmascript
node-union-value
node-unique-filename
node-unset-value
node-uri-js
node-util
node-util-deprecate
node-uuid
node-v8-compile-cache
node-v8flags
node-validate-npm-package-license
node-validate-npm-package-name
node-watchpack
node-wcwidth.js
node-webassemblyjs
node-webpack-sources
node-which
node-wide-align
node-widest-line
node-wordwrap
node-wrap-ansi
node-wrappy
node-write
node-write-file-atomic
node-ws
node-xtend
node-y18n
node-yallist
node-yaml
node-yargs
node-yargs-parser
nodejs
nodejs-doc
npm
openjdk-17-jre
openjdk-17-jre-headless
openssh-client
openssl
p7zip
p7zip-full
passwd
patch
pci.ids
perl
perl-base
perl-modules-5.36
perl-openssl-defaults
perl-tk
pinentry-curses
pkg-config
pkgconf
pkgconf-bin
procps
proxychains
psmisc
publicsuffix
python3
python3-dev
python3-distutils
python3-lib2to3
python3-magic
python3-minimal
python3-netifaces
python3-pip
python3-pkg-resources
python3-pycryptodome
python3-setuptools
python3-six
python3-wheel
python3.11
python3.11-dev
python3.11-minimal
qt5-gtk-platformtheme
qttranslations5-l10n
qtwayland5
readline-common
responder
rpcsvc-proto
runit-helper
sed
shared-mime-info
smistrip
snmp
snmp-mibs-downloader
sqlmap
strace
systemd
systemd-sysv
systemd-timesyncd
sysvinit-utils
tar
terser
tor
tor-geoipdb
torsocks
tzdata
uniscan
unzip
usr-is-merged
util-linux
util-linux-extra
vim
vim-common
vim-runtime
webpack
wget
whois
wireshark
wireshark-common
wireshark-qt
x11-common
x11-utils
x11-xserver-utils
xauth
xdg-user-dirs
xdg-utils
xkb-data
xxd
xz-utils
zlib1g
zlib1g-dev
zsh
zsh-common
zutty
